// app global css in Sass form
body
  background-color: #F2F2F2

.content-background
  background-color: #FFFFFF

.content-shadow
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px

.content-shadow-for-white
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px

.editor-toolbar
  padding: 5px
  display: flex
  justify-content: space-between
  max-width: 900px
  position: sticky
  top: 55px
  box-shadow: rgba(27, 31, 35, 0.15) 0 0 0 1px

.editor-page
  margin: 5px auto 5px auto
  border: 1px double black

.a4-size-with-border
  height: calc(1224px + 2px)
  width: calc(794px + 2px)

.a4-size
  height: 297mm
  width: 210mm

.student-attempt
  padding: 0 0 10px 10px

.student-attempt-table
  padding-right: 10px

table.student-attempt-table tr td:first-child
  width: 180px

.attempt-discussion
  padding: 0 10px 10px 10px
  max-width: 850px

.previous-attempts
  max-width: 850px
  padding: 0 10px 10px 10px

.full-attempt
  width: 100%

.full-attempt-student
  width: 45%
  margin-right: 5px

.full-attempt-teacher
  width: calc(65% - 5px)

.student-list-scroll-area
  width: 300px
  height: 100%

.student-list
  height: 450px

.student-list-search-field
  padding: 0 10px 10px 10px

.student-not-selected-message
  text-align: center
  vertical-align: center
  width: 850px
  height: 40px
  padding: 0 5px 0 5px

.student-list-active-button
  background: black
  color: white

.student-list-scroll-area::-webkit-scrollbar
  width: 6px

.student-list-scroll-area::-webkit-scrollbar-thumb
  background: #808080

.student-list-scroll-area::-webkit-scrollbar-track
  background: #DCDCDC

.task-parameter-editor-dialog
  padding: 0 10px 10px 10px
  width: 380px

.date-range-editor-dialog
  padding: 0 10px 10px 10px

.profile-image
  width: 200px
  height: 200px

.user-information
  width: 400px
  padding: 10px 10px 10px 10px

.user-profile-commentary
  width: 100%
  min-height: 100px

.new-task-commentary
  width: 100%
  min-height: 100px

.user-profile-commentary-save-button
  width: 25%

.registration-page
  width: 400px
  padding: 0 10px 10px 10px

.registration-field
  width: 100%

.new-task-page
  width: 800px
  padding: 0 10px 10px 10px

.new-task-field
  width: 800px - 320px

.account-recovery-page
  width: 400px
  padding: 0 10px 10px 10px

.account-recovery-field
  width: 100%

.account-activating-page
  width: 400px
  padding: 0 10px 10px 10px

.account-activating-field
  width: 100%

.registration-component-enter-active, .registration-component-leave-active
  transition: opacity .5s linear

.registration-component-enter, .registration-component-leave-to
  opacity: 0

.recall-password-component-enter-active, .recall-password-component-leave-active
  transition: opacity .5s linear

.recall-password-component-enter, .recall-password-component-leave-to
  opacity: 0

table.info-table tr td:first-child
  min-width: 200px

table.info-table tr
  vertical-align: top

.vertical-align-middle
  vertical-align: middle

.task-info-table
  padding-right: 10px

table.task-info-table tr td:first-child
  width: 200px

table.task-info-table tr
  vertical-align: top

.teacher-feedback-table
  padding-right: 10px

table.teacher-feedback-table tr td:first-child
  width: 170px

.teacher-feedback
  padding: 0 0 10px 10px

.task-info
  width: 50%
  min-width: 600px
  max-width: 700px

.student-table
  width: 50%
  min-width: 600px
  max-width: 700px
